/apps/areas/__pycache__/*
/apps/areas/migrations/*
/apps/curso/__pycache__/*
/apps/curso/migrations/*
/apps/disciplinas/__pycache__/*
/apps/disciplinas/migrations/*
/apps/professores/__pycache__/*
/apps/professores/migrations/*